@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Inter:wght@100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Rambla:ital,wght@0,400;0,700;1,400;1,700&family=Voces&display=swap');

body {
    background-color: #EEEEEE;
    color: #ffffff;
    height: 100vh;
    box-sizing: border-box;
}

strong {
    color: #E72929;
}

.topnavbar {
    display: flex;
    align-items: center;
    background-color: #EEEEEE;
    padding: 1% 2%;
}

.navbar-logo {
    display: flex;
    margin-left: 10%;
    margin-right: 15%;
    width: 10%;
    max-width: 100%;
    height: auto;
}

.nav-links {
    display: flex;
    margin-right: auto;
    gap: 15%;
}

.nav-link {
    color: #000000;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-bottom: 0.5%;
    font-family: "Mukta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 125%;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 10%;
    background-color: orange;
    position: absolute;
    bottom: -25%;
    left: 0;
    transition: width 0.3s ease; 
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
}

.nav-icons {
    display: flex;
    margin-right: auto;
    font-size: 125%;
}

.nav-item {
    color: #000000;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-bottom: 1.5%;
    margin-right: 30px;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 10%;
    background-color: orange;
    position: absolute;
    bottom: -25%;
    left: 0;
    transition: width 0.3s ease; 
}

.nav-item:hover::after {
    width: 100%;
    left: 0;
}

.main-container {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-container__links {
    display: flex;
    justify-content: space-between;
}

.main-container__links__buttons {
    background-color: #ffffff;
    color: #E72929;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 125%;
    font-family: "Rambla", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 3% 0;
}

.main-container__section {
    width: 3843.75%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-container__section__title {
    font-size: 225%;
    font-family: "Voces", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main-container__section__title_p {
    font-size: 150%;
    font-family: "Rambla", sans-serif;
    font-weight: 400;
    font-style: normal;
}