@import url('https://fonts.googleapis.com/css2?family=Voces&display=swap&family=Rambla:ital,wght@0,400;0,700;1,400;1,700&family=Voces&display=swap&family=Bungee+Spice&family=Rambla:ital,wght@0,400;0,700;1,400;1,700&family=Voces&display=swap');

body {
    background-color: #31363F;
    color: #ffffff;
    height: 100vh;
    box-sizing: border-box;
}

strong {
    color: #E72929;
}

.topnavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #31363F;
}

.topnavbar img {
    width: 150px;
}

.topnavbar a {
    color: #f95959;
    padding: 12px 20px;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s ease;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.topnavbar a:hover {
    background-color: #637A9F;
    border-radius: 15px;
}

.main-container {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-container__links {
    display: flex;
    justify-content: space-between;
}

.main-container__links__buttons {
    background-color: #ffffff;
    color: #E72929;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 20px;
    font-family: "Rambla", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 21.5px 0;
}

.main-container__section {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-container__section__title {
    font-size: 36px;
    font-family: "Voces", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.main-container__section__title_p {
    font-size: 24px;
    font-family: "Rambla", sans-serif;
    font-weight: 400;
    font-style: normal;
}